doctype html
html
  head
    title Biker Roads Europe
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/../css/bootstrap.min.css', media='screen,projection')
    link(href="https://fonts.googleapis.com/css?family=Chonburi" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(type='text/javascript', src='/../js/jquery-3.1.1.js')
    script(type='text/javascript', src='/../js/bootstrap.min.js')

    style.
      body {
        padding: 0px; 
        margin: 0px; 
        font-family: "Chonburi", cursive;
      }
      .top {
        height: 100%; 
        background: url("/../img/serpentine-road-mountain.jpg") no-repeat center center
      }

      .navbar {
        background-color: #bdbdbd; 
        font-size: 18px; 
        padding: 0 15%
      }
      #logo {
        width: 200px;
      }
      #title {
      font-family: "Chonburi", cursive; 
      color: white; 
      padding: 0px; 
      margin: 20%; 
      text-align: center;
      }
      .result {
      height: 500px; 
      background-color: #bdbdbd;
      }
      .result h2 {
      color: #424242; 
      padding: 0px; 
      margin: 0px;
      }
      .googlemaps {
      height: 500px;
      }
      .contact {
      height: 30%; 
      background-color: #8bc34a; 
      font-size: 18px; 
      text-align: center; padding: 5% 0
      }
      .navbar-nav {
      padding: 0;
      margin-left: 80%;

      }
      .nav-link {
      color: #FFFFFF;
      }




  body
    div(class='top')
      nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.sticky-top
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        |  
        a.navbar-brand(href='#')
          img(id='logo', src='/../img/bre.png')
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            if user
              li.nav-item
                a.nav-link(href='#') Welcome &nbsp;
              li.nav-item
                a.nav-link(href='#')=user.username
            else
              li
                a.nav-link(href='#') Login
              li
                a.nav-link(href='#') Sign up

      //- nav
      //-   .navbar
      //-     a.navbar-brand(href='#')
      //-       img(id='logo', src='/../img/bre.png')
      //-     ul.navbar-nav
      //-       if user
      //-         li
      //-           p(style='margin: 0') Welcome &nbsp;
      //-         li
      //-           p(style='margin: 0')=user.username

      //-       else
      //-         li
      //-           a(href='#') Login
      //-         li
      //-           a(href='#') Sign up
      .container
        h1(id='title') BIKER ROADS EUROPE
        .valign-wrapper
          .row
            form(name='search', method='POST', action='/')
              .row(style='width: 100%')
                .input-field.col.m6(style='width: 100%')
                  input#search.validate( type='text', name='search')

    div(class='result')
      h1 RESULT
      select
        option(value='Holland') Holland
        option(value='Spain') Spain
        option(value='Norway') Norway

    div(class='googlemaps')
      h1 GOOGLE MAPS

    div(class='contact')
        p bikerroadseurope@bre.com
        p 020-45354535
        p Bikersrule 258, 9898 BR, Amsterdam
    div(name='templogin')
      .header
          br
          h1 Login
          br
      .row
        form(method='POST', action='/login')
          .row
            .input-field.col.s12
              input#email.validate(type='text', name='email', maxlength=255, required)
              |
              br
              | 
              label(for='email', class='active') Email
            .input-field.col.s12
              input#password.validate(type='password', name='password', maxlength=255, required)
              |
              br
              | 
              label(for='password', class='active') Password
            .input-field.col.s12
              button.btn.btn-primary(type='submit') Submit

        h2#error-message= message

      .header
        br
        h1 Sign up
        br
      .row
        form(name='signup', method='POST', action='/signup')
          .row
            .input-field.col.s12
              input#username.validate(type='text', name='username', maxlength=255, required)
              |
              br
              |
              label(for='username', class='active') Username
            .input-field.col.s12
              input#email.validate(type='text', name='email', maxlength=255, required)
              |
              br
              |
              label(for='email', class='active') Email
            .input-field.col.s12
              input#password.validate(type='password', name='password', maxlength=255, required)
              |
              br
              |
              label(for='password', class='active') Password
            .input-field.col.s12
              button.btn.btn-primary(type='submit') Sign up

        h2#error-message= message



    script(type='text/javascript', src='/..js/materialize.js')