html
  head
    title Biker Roads Europe
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/../css/materialize.css', media='screen,projection')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='text/javascript', src='/../js/jquery-3.1.1.js')

  body(style='padding: 0px; margin: 0px')
    div(name='panel1', style='height: 100%; background: url("/../img/serpentine-road-mountain.jpg") no-repeat center center')
      nav
        .nav-wrapper(style='background-color: #bdbdbd')
          a.brand-logo(href='#' style='padding: 0 0 0 15%') Logo
          ul#nav-mobile.right.hide-on-med-and-down(style='padding: 0 15%')
            li
              a(href='#') Login
            li
              a(href='#') Sign up
      .container
          h1(style='color: white; padding: 0px; margin: 20%; text-align: center') Biker Roads Europe
      .valign-wrapper
        .row
          form(name='search', method='POST', action='/')
            .row(style='width: 100%')
              .input-field.col.m6(style='width: 100%')
                input#search.validate( type='text', name='search')

    div(name='panel2', style='height: 100%; background-color: #bdbdbd; ')
      h1(style='color: #424242; padding: 0px; margin: 0px') RESULT
      select
        option(value='Holland') Holland
        option(value='Spain') Spain
        option(value='Norway') Norway

    div(name='panel3', id='googleMap',style='width:100%;height:400px;')
      |  &nbsp;     
      h1 GOOGLE MAPS
      script.
        //DirectionsService object to send and receive direction requests
        //DirectionsRenderer object to render the returned route on the map
        function initMap() {
          var directionsDisplay = new google.maps.DirectionsRenderer;
          var directionsService = new google.maps.DirectionsService;
          var amsterdam = new google.maps.LatLng(52.379189, 4.899431)//Latitude and longitude coordinates of Amsterdam Centraal are: 52.379189, 4.899431
          var berlin = new google.maps.LatLng(52.5200,13.4050)
          // Create a map and center it on Amsterdam
          
          var mapProp= {
            center: amsterdam,
            zoom:6,
          }
          
          var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
          directionsDisplay.setMap(map);
          
          markerA = new google.maps.Marker({
            position: amsterdam,
            title: 'Amsterdam',
            label:'A',
            map:map
          })
          markerB = new google.maps.Marker({
            position: berlin,
            title: 'Berlin',
            label:'B',
            map:map
          })
          //get route from A to B
          calculateAndDisplayRoute(directionsService, directionsDisplay)
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay){
          directionsService.route({
            origin: '52.379189, 4.899431',
            destination: '52.5200,13.4050',
            travelMode: 'DRIVING'
          }, 
          function(response, status) {
            if (status === 'OK') {
              directionsDisplay.setDirections(response);
            } 
            else {
              window.alert('Directions request failed due to ' + status);
            }
          });
        }


    div(name='panel4', style='height: 30%; background-color: #8bc34a')
      h1 CONTACT



    script(type='text/javascript', src='/..js/materialize.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA9hyb7Hz8M7ZgAoJyXThHFx5951myltTI&callback=initMap')